<h1 class="order-title">Completed Orders</h1>

<div class="order-content">
  <h2>Purchases</h2>
  @for (r of receipts; track r.saleId) {
    <div
      class="order-grid"
      tabindex="0"
      role="button"
      (click)="openReceipt(r)"
      (keydown.enter)="openReceipt(r)"
      (keydown.space)="openReceipt(r)"
    >
      <div
        class="receipt-card"
        tabindex="0"
        role="button"
        (click)="openReceipt(r)"
        (keydown.enter)="openReceipt(r)"
        (keydown.space)="openReceipt(r)"
      >
        <table class="receipt-info">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Total</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td>{{ r.customerName }}</td>
            <td>{{ r.customerEmail }}</td>
            <td>{{ r.total | currency }}</td>
            <td>{{ r.saleDateTime | date: 'short' }}</td>
          </tbody>
        </table>
      </div>
    </div>
  }
  @if (selectedReceipt) {
    <div
      class="overlay"
      tabindex="0"
      role="dialog"
      (click)="closeReceipt()"
      (keydown.escape)="closeReceipt()"
    >
      <form
        class="receipt-form"
        (click)="$event.stopPropagation()"
        (keydown.enter)="$event.stopPropagation()"
      >
        <button type="button" class="overlay-close-btn" (click)="closeReceipt()">&#10006;</button>
        <h2 class="receipt-title">Receipt</h2>
        <div class="receipt-box">
          @for (item of selectedReceipt.items; track item.itemId) {
            <div class="receipt-grid">
              <div class="item-image">
                @if (item.primaryPhotoUrl) {
                  <img [src]="item.primaryPhotoUrl" [alt]="item.name" />
                }
              </div>
              <h3 class="item-name">{{ item.name }}</h3>
              <p class="item-price">{{ item.price | currency }}</p>
            </div>
          }
        </div>
        <div class="receipt-columns">
          <div class="shipping-address">
            <div class="ship-title">Shipping to:</div>

            <div class="ship-name">
              {{ selectedReceipt.customerName }}
            </div>

            <div class="ship-line">
              {{ selectedReceipt.street1 }}
              @if (selectedReceipt.street2) {
                <span>, {{ selectedReceipt.street2 }}</span>
              }
            </div>
            <div class="ship-line">
              {{ selectedReceipt.city }} {{ selectedReceipt.state }} {{ selectedReceipt.zip }}
            </div>
          </div>
          <div class="pricing-container">
            <h2 class="shipping">Shipping: {{ selectedReceipt.shippingCost | currency }}</h2>
            <h2 class="subtotal">Subtotal: {{ selectedReceipt.subtotal | currency }}</h2>
            <h2 class="tax">Tax: {{ selectedReceipt.tax | currency }}</h2>
            <h2 class="total">Total: {{ selectedReceipt.total | currency }}</h2>
          </div>
        </div>
      </form>
    </div>
  }
</div>
