<div class="receipt-container">
  <form class="receipt-form">
    <h2 class="receipt-title">Receipt</h2>
    @for (item of cart; track item._id) {
      <div class="receipt-box">
        <div class="receipt-grid">
          <div class="item-image"></div>
          <h3 class="item-name">{{ item.name }}</h3>
          <p class="item-price">{{ item.price | currency: 'USD' : 'symbol' : '1.2-2' }}</p>
        </div>
      </div>
    }

    <div class="receipt-columns">
      <div class="shipping-address">
        <div class="ship-title">Shipping to:</div>
        <div class="ship-name">
          {{ shipping.name }}
        </div>
        <div class="ship-line">
          {{ shipping.address1 }}
        </div>
        <div class="ship-line">{{ shipping.city }}, {{ shipping.state }} {{ shipping.zip }}</div>
      </div>
      <div class="pricing-container">
        <div class="line">
          <span class="label">Shipping: </span>
          <span class="value"> {{ shippingCost | currency: 'USD' }}</span>
        </div>
        <div class="line">
          <span class="label">Subtotal: </span>
          <span class="value">{{ subtotal | currency: 'USD' }}</span>
        </div>
        <div class="line">
          <span class="label"> Tax: </span>
          <span class="value"> {{ tax | currency: 'USD' }}</span>
        </div>
        <div class="line">
          <span class="label"> Total: </span>
          <span class="value"> {{ total | currency: 'USD' }}</span>
        </div>
        <h3 class="paid-card">Paid with: {{ maskedCard }}</h3>
      </div>
    </div>

    <div class="receipt-buttons">
      <button class="receipt-btn" routerLink="/inventory">Forgot Something?</button>
    </div>
  </form>
</div>
