<div class="inventory-container">
  <h2 class="inventory-title">Shop</h2>
  <div class="inventory-grid">
    <div class="inventory-box" *ngFor="let item of pageInventory">
      <img class="item-image" [src]="item.primaryPhotoUrl" alt="item" />
      <h3 class="item-name">{{ item.name }}</h3>
      <p class="item-price">{{ item.price | currency:'USD':'symbol':'1.2-2'}}</p>
      <button class="add-to-cart-btn" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
  <div class="pages">
    <button (click)="changePage(currentPage-1)" [disabled]="currentPage ===1">⮘</button>
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="changePage(i+1)"
      [class.active]="currentPage === i + 1">
      {{ i + 1 }}
    </button>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">⮚</button>

  </div>
</div>




