<h1 class="user-title">User Management</h1>

<div class="user-content">
  <h2>User List</h2>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Admin?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users()">
        <td>{{ user.userId }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isAdmin }}</td>
        <td>
          <button
            class="promote-btn"
            (click)="promoteToAdmin(user)"
            [disabled]="user.isAdmin">
            Make Admin
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
