/*
Color	Hex	Description
Near-Black Navy	#0A0F1C
Deep Slate	#1E2A38
Steel Blue	#3E5C76
Frost Gray	#A7B3BC
Ice White	#F4F7F9

*/

.landing-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #0a0f1c, #1e2a38);
  animation: gradientShift 15s ease infinite;
  color: #f4f7f9;
  text-align: center;
}

.landing-container::after {
  content: 'OFFSHORE';
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Playfair Display SC', serif;
  font-size: 20rem;
  color: rgba(62, 92, 118, 0.07);
  letter-spacing: 10px;
  pointer-events: none;
  z-index: 0;
}

.title {
  position: relative;
  font-family: 'Playfair Display SC', serif;
  font-size: clamp(2.5rem, 6vw, 7rem);

  color: #f4f7f9;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  position: relative;
  font-size: clamp(1rem, 3vw, 3rem);
  margin-bottom: 25px;
  color: #f4f7f9;
  text-align: center;
}

.button-container {
  display: flex;
  margin-top: 50px;
  gap: 7vw;
}

.landing-btn {
  font-family: 'Playfair Display SC', serif;
  padding: 1rem 3vw;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000000;
  color: #f4f7f9;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.landing-btn:hover {
  background-color: #f4f7f9;
  color: #000000;
  transform: scale(1.05);
  box-shadow:
    10px 20px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(167, 179, 188, 0.8);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title,
.subtitle,
.button-container {
  animation: fadeUp 3s ease forwards;
}
