<nav class="navbar">
  <div class="logo">Offshore Holdings</div>
  @if (isLanding || isLanding2 || isLogin || isSignup) {
  } @else {
    <ul class="nav-links">
      <li><a routerLink="/inventory">Shop</a></li>
      <li><a routerLink="/search">Search</a></li>
      <li><a routerLink="/shoppingCart">Checkout</a></li>
      <li class="dropdown">
        <span class="account-label">Account</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/account">Settings</a></li>
          <li>
            <a
              tabindex="0"
              role="button"
              (click)="logout()"
              (keydown.enter)="logout()"
              (keydown.space)="logout()"
              >Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  }
</nav>

<router-outlet></router-outlet>
