
<div class="confirm-container">
  <form class="confirm-form">
    <h2 class="confirm-title">Confirm Order</h2>
    <div class="confirm-box" *ngFor="let item of confirmOrder">
      <div class="confirm-grid">
        <div class="item-image"></div>
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-price">{{ item.price | currency:'USD':'symbol':'1.2-2'}}</p>
      </div>
    </div>
    <div class="confirm-columns">
      <div class="shipping-address">
        <div class="ship-title">Shipping to:</div>
        <div class="ship-name">
          {{ shipping.name }}
        </div>
        <div class="ship-line">
          {{ shipping.address1 }}
        </div>
        <div class="ship-line">
          {{ shipping.city }}, {{ shipping.state }} {{ shipping.zip }}
        </div>
      </div>
      <div class="pricing-container">
        <h2 class="shipping">Shipping: $0.00</h2>
        <h2 class="subtotal">Subtotal: $0.00</h2>
        <h2 class="tax">Tax: $0.00</h2>
        <h2 class="total">Total: $0.00</h2>
      </div>

    </div>
    <div class="confirm-buttons">
      <button class="confirm-btn" routerLink="/receipt">Complete Order &#11162;</button>
      <button class="back-btn" routerLink="/checkout">&#11160; Back</button>
    </div>
  </form>
</div>
